/* Default text color rgb(160, 212, 255) changed in light/dark switch */
body {
    background-color: rgb(160, 212, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    overflow-y: scroll;
}

p {
    color: rgb(0, 0, 0);
    line-height: normal;
}

/* Default text color rgb(0, 0, 0) changed in light/dark switch */
.dmaffected {
    color: rgb(0, 0, 0);
}

#topbar {
    height: 60px;
    width: 100%;
    background-color: #452080;
    padding-top: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
}

#topbar .logo {
    height: 60px;
    cursor: pointer;
}

.topbarbutton {
    height: 44px;
    width: 120px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 9px solid #452080;
    border-bottom: 8px solid #883fff;
    cursor: pointer;
}

.topbarbutton:hover {
    background-image: linear-gradient(#452080, #883fff);
    font-size: 22px;
    border-top-width: 8px;
}

.topbarbutton p {
    text-align: center;
    margin-top: 12px;
}

.biglogobutton {
    height: 60px;
    width: 320px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
}

.biglogobutton:hover {
    background-color: #883fff;
}

.biglogobutton img {
    float: left;
}

.biglogobutton p {
    text-align: center;
    width: auto;
}

#topbar #lightdarkswitch {
    height: 60px;
    cursor: pointer;
}

.imageandtext img {
    display: flex;
    float: left;
    height: 100%;
}

.imageandtext p {
    display: flex;
    padding: 10px;
}

#bottombar {
    height: 100px;
    width: 100%;
    background-color: #452080;
}

#aboutus {
    width: 80%;
    background-color: #ffffff55;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}

#impact {
    width: 80%;
    background-color: #ffffff55;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}

#schedule {
    width: 80%;
    background-color: #ffffff55;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}

#sponsors {
    width: 80%;
    background-color: #ffffff55;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}

#sidepagemodule {
    width: 80%;
    background-color: #ffffff55;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 30px;
}

.largeimage {
    width: 100%;
}

.header {
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.smallheader {
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centeredtext {
    text-align: center;
}

.whitetext {
    color: white;
}

.floatright {
    float: inline-end;
}