body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #game-container {
    position: relative;
  }
  
  canvas {
    border: 1px solid #fff;
    display: block;
  }
  
  #score {
    color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  